body {
    background-color: aqua;
}

.mainText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#homeHeader {
    color: orange;
}
#contactHeader {
    color: rgb(137, 221, 150);
}
#aboutHeader {
    color:hotpink
}
#navContainer {
    /* border: dotted 2px white; */
    width: 100%;
    display: flex;
    justify-content: center;
}
nav {
    border: red 3px solid;
    width: 60%;
    display: flex;
    justify-content: space-around;
}